@import "./vars";
@import "./chatpage";
// quick reset
*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background: #9ce0de;
}

article{
    width: 40%;
    height: 10vh;
    margin-top: 30px;
}

ul{
    padding-top: 10px;
}

.new-message{
    background: white;
    color: #434343;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    float: left;
    clear: both;

    h4{
        display: flex;
        justify-content: flex-end;
        background: #64d0ce;
        border-top-right-radius: 8px;
        padding-right: 10px;
        
    }

    p:nth-child(2){
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;

    }

    p:nth-child(3){
            display: flex;
            justify-content: flex-end;
            background: #009292;
            border-bottom-right-radius: 8px;
            padding-right: 10px;
    }
}


.my-messages{
    color: white;
    background: #64d0ce;
    float: right;  
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 

    h4{
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #00aca9;
        border-top-left-radius: 8px;
        
        font-size: 15px;
        padding-left: 10px;
    }

    p:nth-child(2){
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;

    }

    p:nth-child(3){
            width: 100%;
            height: 25px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #00aca9;
            border-bottom-left-radius: 8px;
            
            font-size: 15px;
            padding-left: 10px;
    }
}
